title: RNP
description: C library approach to OpenPGP; GnuPG alternative.
# The above two are used by jekyll-seo-tag for things such as
# `<title>` and `<meta>` tags, as well as elsewhere by the theme.

algolia_search:
  api_key: '0193b06d928ee52f653c6e5ea95d9f97'
  index_name: 'rnpgp'

tagline: >-
  High-performance OpenPGP library in&nbsp;C++

pitch: >-
  Compatible GnuPG&nbsp;alternative, fully&nbsp;compliant to&nbsp;RFC&nbsp;4880.

author: "Ribose Inc."

authors:
  - name: Ribose Inc.
    email: open.source@ribose.com

contact_email: open.source@ribose.com

theme: jekyll-theme-open-project

parent_hub:
  git_repo_url: https://github.com/rnpgp/open.ribose.com
  home_url: https://open.ribose.com/

social:
  links:
    - https://twitter.com/RiboseUS
    - https://github.com/rnpgp

legal:
  name: Ribose Group Inc.
  tos_link: https://www.ribose.com/tos
  privacy_policy_link: https://www.ribose.com/privacy

home_calls_to_action:
  - { url: "/software/rnp/docs/README/", title: "Get Started" }

permalink: /blog/:year-:month-:day-:title/

url: https://www.rnpgp.com
github_repo_url: https://github.com/rnpgp/rnpgp.com

tag_namespaces:
  software:
    writtenin: "Written in"
    bindingsfor: "Bindings for"
    user: "Target user"
    interface: "Interface"
  specs:
    audience: "Audience"
    completion_status: "Status"

exclude:
  - vendor
