<span class="copyright">
  <span class="copyright-head">Copyright © {{ site.time | date: '%Y' }} {{ site.legal.name }} —</span>
  <span class="copyright-tail">All rights reserved.</span>
</span>

{% if site.legal.privacy_policy_link or site.legal.tos_link %}
  <nav aria-label="legal links">
    <strong><a href="/docs/">Manual</a></strong>
    <strong><a href="/contribute/">Contribute</a></strong>
    {% if site.legal.tos_link %}
      <a href="{{ site.legal.tos_link }}">Terms&nbsp;of&nbsp;service</a>
    {% endif %}
    {% if site.legal.privacy_policy_link %}
      <a href="{{ site.legal.privacy_policy_link }}">Privacy&nbsp;policy</a>
    {% endif %}
    <a href="/feedback/">Feedback/bug&nbsp;reports</a>
    <a href="/advisories/">Security&nbsp;advisories</a>
    <a href="/openpgp_keys/">OpenPGP&nbsp;keys</a>
    <a href="/about/">About</a>
  </nav>
{% endif %}
