<span class="copyright">
  <span class="copyright-head">Copyright © {{ site.time | date: '%Y' }} {{ site.legal.name }} —</span>
  <span class="copyright-tail">All rights reserved.</span>
</span>

{% if site.legal.privacy_policy_link or site.legal.tos_link %}
  <nav aria-label="legal links"
    {% if site.legal.tos_link %}
      <a href="{{ site.legal.tos_link }}">Terms of service</a>
    {% endif %}
    {% if site.legal.privacy_policy_link %}
      <a href="{{ site.legal.privacy_policy_link }}">Privacy policy</a>
    {% endif %}
    <strong><a href="/docs/">Manual</a></strong>
    <a href="/feedback/">Feedback/bug reports</a>
    <a href="/advisories/">Security advisories</a>
    <strong><a href="/contribute/">Contribute</a></strong>
    <a href="/openpgp_keys/">OpenPGP keys</a>
  </nav>
{% endif %}
